<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MontyArchiveWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body id="yellow-gradient" class="cleartext" >
  
    <header >
    <nav class="navbar navbar-default" id="textbox">
      <div class="container-fluid" >
	  
		<div class="navbar-header">
			<%= link_to "Home", root_path, class: "cleartext" %>
		</div>
		
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Social", social_index_path, class: "cleartext"%></li>
		</ul>
		
      </div>
    </nav>
  </header>
  
  <section class="container">
  
  
    <%= yield %>
  </body>
</html>
